<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ProgePodKartTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="FirmaKodu" value="18028"  />
		<add key="ComPortArduino"  value="COM3"/>
		<add key="ComPortMultimetre"  value="COM4"/>
		<add key="admin"  value="proge"/>
		<add key="adminpass"  value="123"/>
		<add key="ConnectionString"  value="Data Source=(local);Initial Catalog=ProgePodKartTest;Integrated Security=True;"/>
		<add key="DBTableName"  value="UretimVerileri"/>
		<add key="userloginname"  value="proge"/>
		<add key="userloginpass"  value="123"/>
		<add key="IsDbGenerated" value="False"/>
		<add key="Printer"  value="XPRINTER XP-470B"/>
		<add key="UrunStokKodu"  value="STK"  />
		<add key="UrunGrupKodu"  value="UGK"/>
		<add key="UrunKodu"  value="No" />
		<add key="UretimTarihiKodu"  value="UUT" />
		<add key="FirmaAdi"  value="PROGE" />
		<add key="UrunTestTarihiKodu"  value="UTT"/>
 </appSettings>
 <userSettings>
  <ProgePodKartTest.Properties.Settings>
   <setting name="FirmaKodu" serializeAs="String">
    <value>18028</value>
   </setting>
   <setting name="ComPortArduino" serializeAs="String">
    <value>COM3</value>
   </setting>
   <setting name="ComPortMultimetre" serializeAs="String">
    <value>COM4</value>
   </setting>
   <setting name="admin" serializeAs="String">
    <value>proge</value>
   </setting>
   <setting name="adminpass" serializeAs="String">
    <value>123</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=(local);Initial Catalog=ProgePodKartTest;Integrated Security=True;</value>
   </setting>
   <setting name="DBTableName" serializeAs="String">
    <value>UretimVerileri</value>
   </setting>
   <setting name="userloginname" serializeAs="String">
    <value>proge</value>
   </setting>
   <setting name="userloginpass" serializeAs="String">
    <value>123</value>
   </setting>
   <setting name="IsDbGenerated" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Printer" serializeAs="String">
    <value>XPRINTER XP-470B</value>
   </setting>
   <setting name="UrunStokKodu" serializeAs="String">
    <value>STK</value>
   </setting>
   <setting name="UrunGrupKodu" serializeAs="String">
    <value>UGK</value>
   </setting>
   <setting name="UrunKodu" serializeAs="String">
    <value>No</value>
   </setting>
   <setting name="UretimTarihiKodu" serializeAs="String">
    <value>UUT</value>
   </setting>
   <setting name="FirmaAdi" serializeAs="String">
    <value>Proge</value>
   </setting>
   <setting name="UrunTestTarihiKodu" serializeAs="String">
    <value>UTT</value>
   </setting>
  </ProgePodKartTest.Properties.Settings>
 </userSettings>
</configuration>
